<!DOCTYPE html>
<html lang="en">
<head>
  <%= page_meta %>
  <%= stylesheet_link_tag 'coupons' %>
</head>
<body>
  <div class="page container">
    <%= render 'header' %>

    <div class="content">
      <%= render 'flash_messages' %>
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag 'coupons' %>
</body>
</html>
